<div class="container">
  <div class="header">
       <h2>Who to follow</h2><a href="#" class="refresh">Refresh</a>
  </div>
  <ul class="suggestions">
      <li class="suggestion1">
          <img />
          <a href="#" target="_blank" class="username">this will not be displayed</a>
          <a href="#" class="close close1">x</a>
      </li>
      <li class="suggestion2">
          <img />
          <a href="#" target="_blank" class="username">neither this</a>
          <a href="#" class="close close2">x</a>
      </li>
      <li class="suggestion3">
          <img />
          <a href="#" target="_blank" class="username">nor this</a>
          <a href="#" class="close close3">x</a>
      </li>
  </ul>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/rxjs/2.2.26/rx.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/rxjs/2.2.26/rx.async.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/rxjs/2.2.26/rx.coincidence.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/rxjs/2.2.26/rx.binding.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/rxjs/2.2.26/rx.time.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/rxjs-dom/2.0.7/rx.dom.js"></script>