<!--The content below is only a placeholder and can be replaced. -->
<div style = "text-align:center">
  <h1>
     Welcome to {{title}}.
  </h1>
</div>
<div style = "text-align:center">
    <h3 ng-if="!message.value">
       Message: {{message}}.
    </h3>
  </div>
<div> Months :
  <select (change) = "changemonths($event)" >
     <option *ngFor = "let item of months">{{item}}</option>
  </select>
</div>
