<p>
  binding-template works!
</p>
<label>Server Name: </label>
<input type="text"
      class="form-control"
      [(ngModel)]="serverName">

<p>{{serverName}}: </p>

<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">
  Add Server
</button>

<p *ngIf="serverCreated else noServer">{{serverCreationStatus}}</p>
<ng-template #noServer>
  <p>
    No server was crated yet
  </p>
</ng-template>
<app-server></app-server>

