<div class="row ctor">
  <h3>
     Message: {{ctorMessage}}.
  </h3>
</div>
<div class="row onChanges">
  <h3>
     Message On Changes: {{onChangesMessage}}.
  </h3>
</div>
<div class="row onInit">
  <h3>
    Message: {{onInitMessage}}.
  </h3>
</div>
<div class="row afterContentInit">
  <h3>
    Message: {{afterContentInitMessage}}.
  </h3>
</div>
<div class="row afterViewInit">
  <h3>
    Message: {{afterViewInitMessage}}.
  </h3>
</div>
<div class="row afterViewChecked">
  <h3>
    Message: {{afterViewCheckedMessage}}.
  </h3>
</div>
<div class="row doCheck">
  <h3>
    Message: {{doCheckMessage}}.
  </h3>
</div>
<div class="row afterContentChecked">
  <h3>
    Message: {{afterContentCheckedMessage}}.
  </h3>
</div>
<div class="row onDestroy">
  <h3>
    Message onDestroy: {{onDestroyMessage}}  - after end;.
  </h3>
</div>


