1
<table>
  <tbody>
    <tr *ngFor="let row of matrix">
      <td *ngFor="let item of row">
        {{ item }}
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-dark btn-lg" (click)="rotateClockwise($event)" >Rotate Clockwise</button>
<button class="btn btn-dark btn-lg" (click)="rotateCounterClockMatrix($event)" >Rotate Counter Clockwise</button>
