a{
  margin: 1em;
  font-size: 1em;
  background: yellow;
}
tbody{
  align-content: flex-start;
  align-items: flex-start;
  align-self: top;

}
td{
  align-content: flex-start;
  align-self: top;
}
ul{
  align-self: flex-start;
  align-self: top;
}

.left-menu{
  position: absolute;
  align-content: flex-start;
}
