<button mat-button [matMenuTriggerFor] = "menu">Menu</button>
<br>
<mat-form-field>
  <input matInput [matDatepicker] = "picker" placeholder = "Choose a date"><br>
  <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle><br>
  <mat-datepicker #picker></mat-datepicker><br>
</mat-form-field>
<br>
<mat-menu #menu = "matMenu">
   <button mat-menu-item>
      File
   </button>
   <button mat-menu-item>
      Save As
   </button>
</mat-menu>
<br>
<mat-sidenav-container class = "example-container">
   <mat-sidenav #sidenav class = "example-sidenav">
      Angular 6
   </mat-sidenav>
   <div class = "example-sidenav-content">
      <button type = "button" mat-button  (click) = "sidenav.open()">
         Open sidenav
      </button>
   </div>
</mat-sidenav-container>


