<div fxFlexAlign.gt-md="start">
   <div>
    <span *ngIf = "isAvailable; then condition1 else condition2">Condition is valid.</span>
    <ng-template #condition1>Condition is valid</ng-template>
    <ng-template #condition2>Condition is invalid</ng-template>
  </div>
  <button (click)='myClickFunction($event)'>
    Click Me
 </button>

 <div style = "text-align:center">
  <span appChangeText >Result.</span>
</div>
</div>
